<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<link href="/stylesheets/project.css" rel="stylesheet" type="text/css" />
<script>
function setPage(location, bool){
	document.getElementById("frame").src = location;
	if(bool == 1){
	document.getElementById("frame").style.display = "block";
	document.getElementById("content").style.display = "none";
	} else {
	document.getElementById("frame").style.display = "none";
	document.getElementById("content").style.display = "block";
	}
};
function nextPage(){
	switch(document.getElementById("frame").src){
		case '<%= page[0].paragraph %>':
		document.getElementById("frame").src = '<%= page[1].paragraph %>';
		break;
		case '<%= page[1].paragraph %>':
		document.getElementById("frame").src = '<%= page[2].paragraph %>';
		break;
		case '<%= page[2].paragraph %>':
		document.getElementById("frame").src = '<%= page[3].paragraph %>';
		break;
		case '<%= page[3].paragraph %>':
		break;
		default:
		break;
	}
};
function previousPage(){
	switch(document.getElementById("frame").src){
		case '<%= page[0].paragraph %>':
		break;
		case '<%= page[1].paragraph %>':
		document.getElementById("frame").src = '<%= page[0].paragraph %>';
		break;
		case '<%= page[2].paragraph %>':
		document.getElementById("frame").src = '<%= page[1].paragraph %>';
		break;
		case '<%= page[3].paragraph %>':
		document.getElementById("frame").src = '<%= page[2].paragraph %>';
		break;
		default:
		break;
	}
};
</script>
</head>

<body>

<div class="container">
  <div class="header"><a href="#"><img src="" alt="Insert Logo Here" name="Insert_logo" width="180" height="90" id="Insert_logo" style="background-color: #C6D580; display:block;" /></a> 
  </div>
  <div class="sidebar1">
    <ul class="nav">
      <li><a href="#" onclick="nextPage()">Next Post</a></li>
      <li><a href="#" onclick="previousPage()">Previous Post</a></li>
      <li><a href="#" onclick="setPage(' ', 0)">Home</a></li>
      <!--<li><a href="#">Link four</a></li>-->
    </ul>
  </div>
  
  <iframe id="frame" src="">
  </iframe>
  
  
  <div class="content" id="content">
    <h1>Welcome!</h1>
    <p>Please select a tutorial from those listed below.</p>
    <ul class="nav">
      <li onclick="setPage('<%= page[0].paragraph %>', 1)"><a href="#">DummyTutorial1</a></li>
	  <!--<li onclick="setPage()">DummyTutorial1</li>-->
      <li onclick="setPage('<%= page[1].paragraph %>', 1)"><a href="#">DummyTutorial2</a></li>
      <li onclick="setPage('<%= page[2].paragraph %>', 1)"><a href="#">DummyTutorial3</a></li>
      <li onclick="setPage('<%= page[3].paragraph %>', 1)"><a href="#">DummyTutorial4</a></li>
    </ul>
  </div>
</div>

</body>
</html>
